@charset "UTF-8";

:root{

    /* ColorPalette: 'https://colorhunt.co/palette/2d033b810ca8c147e9e5b8f4' */
    --site-color-01: #2D033B;
    --site-color-02: #810CA8;
    --site-color-03: #C147E9;
    --site-color-04: #E5B8F4;
    --site-color-05: #cebfd2;

}

body::after{
    /* preload image files */
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("static/assets/images/stock-image-1.jpg") ;
    display: none;

}

/*loader*/

 /*#loader-wrapper {*/
 /*    position: fixed;*/
 /*    top: 0;*/
 /*    right: 0;*/
 /*    bottom: 0;*/
 /*    left: 0;*/
 /*    background-color: var(--site-color-04);*/
 /*    z-index: 9999;*/
 /*}*/






.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


/*testimonial*/

.site-testimonial-gradient-custom {
    background: linear-gradient(90deg, var(--site-color-01) 0%, var(--site-color-02) 35%, var(--site-color-03) 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.carousel-indicators {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/*features/trainings-section*/

#training-card-1{

}




