<!doctype html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="imports :: section"></div>
<body>
    <title>Home</title>
    <!--header-->

    <div th:replace="header :: header"></div>
    <!--header-->
    <!-- placement flex center -->

    <!--home-banner-section-->
    <section id="home-banner" class="container">
        <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/images/coding-memoji.png" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">Project Pilot</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>
    </section>
    <!--home-banner-section-->



    <!--trainings features section-->
    <div th:replace="home_trainings_dates :: section"></div>
    <!--trainings features section-->








    <!--divider-->
    <div class="b-example-divider"></div>
    <!--divider-->

    <!--testimonial section-->
    <div th:replace="home_testimonial :: section"></div>
    <!--testimonial section-->



    <!--class to action -->
    <div th:replace="home_call_to_action :: section"></div>
    <!--class to action -->


    <!--Scroll-btn-->
    <button class="btn btn-primary" data-bs-theme="" id="scrollToTopBtn"><i class="fa-solid fa-arrow-up"></i></button>
    <!--Scroll-btn-->



    <!--divider-->
    <div class="b-example-divider"></div>
    <!--divider-->

    <!--footer-->
    <div th:replace="footer :: footer"></div>
    <!--footer-->


<!--    <script>-->
<!--        window.addEventListener('DOMContentLoaded', ()=>{-->
<!--            function scrollToTop() {-->
<!--                window.scrollTo({-->
<!--                    top: 0,-->
<!--                    behavior: 'smooth'-->
<!--                });-->
<!--            }-->

<!--            const scrollToTopBtn = document.getElementById("scrollToTopBtn");-->
<!--            scrollToTopBtn.addEventListener("click", scrollToTop);-->
<!--        })-->
<!--    </script>-->


</body>
</html>