<!doctype html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">
<div th:replace="imports :: section"></div>

<body>

<!--header-->

<div th:replace="header :: header"></div>
<!--header-->
<!-- placement flex center -->

<!-- Breadcrumb -->
<div id="about-breadcrumb" class="container m-3 p-3">
  <h4> About us</h4>
  <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Login</li>
    </ol>
  </div>
</div>
<!--breadCrumb-->


<!--login section-->
<!-- floating label -->
<div class="container">
  <h3 class="login-title text-center">Login</h3>
  <div class="row justify-content-center">
    <div class="col-lg6 col-md-8">
      <!--error message section -->
      <ul>
        <li class="alert alert-succcess" role="alert"></li>
        <li class="alert alert-danger" role="alert" ></li>
      </ul>
      <!--error message section -->
      <form class="login-form" action="#" method="post">
      <!--fields-->
        <div class="form-floating">
          <input type="text" id="username" class="form-control" placeholder="username">
          <label for="username" class="form-label">username</label>
        </div>
        <div class="form-floating">
          <input type="text" id="password" name="password" class="form-control" placeholder="password">
          <label for="password" class="form-label">password</label>
        </div>
        <!--fields-->
        <div class="row">
          <div class="col">
            <button class="btn btn-primary">Login</button>
            <a href="" class="new-user text-right">Sign Up</a>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>



<!--login section-->

<!--Scroll-btn-->
<button class="btn btn-primary" data-bs-theme="" id="scrollToTopBtn"><i class="fa-solid fa-arrow-up"></i></button>
<!--Scroll-btn-->

<!--footer-->
<div th:replace="footer :: footer"></div>
<!--footer-->




</body>
</html>