<!doctype html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">
<div th:replace="imports :: section"></div>

<body>
<title>SignUp</title>

<!--header-->

<div th:replace="header :: header"></div>
<!--header-->
<!-- placement flex center -->

<!-- Breadcrumb -->
<div id="about-breadcrumb" class="container m-3 p-3">
  <h4> About us</h4>
  <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
      <li class="breadcrumb-item">Signup...</li>
    </ol>
  </div>
</div>
<!--breadCrumb-->

<!--signup Section-->

<!-- floating label -->
<section class="vh-100 gradient-custom">

  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">You journey starts here..</h3>
            <!--field-->
            <ul>
              <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('developer.*')}" th:text="${error}"></li>
            </ul>

            <form th:action="@{/public/addAccount}" method="post" class="signup-form" th:object="${developer}" >

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input th:field="*{name}" type="text" id="name" class="form-control form-control-lg" />
                    <label class="form-label" for="name">name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input th:field="*{mobileNumber}" type="text" id="mobileNumber" class="form-control form-control-lg" />
                    <label class="form-label" for="mobileNumber">mobileNumber</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input th:field="*{email}" type="text" class="form-control form-control-lg" id="email" />
                    <label for="email" class="form-label">email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input th:field="*{confirmEmail}" type="text" class="form-control form-control-lg" id="confirmEmail"/>
                    <label for="confirmEmail" class="form-label">confirmEmail</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input th:field="*{pwd}" type="text" id="password" class="form-control form-control-lg" />
                    <label class="form-label" for="password">password</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input th:field="*{confirmPwd}" type="text" id="confirmPassword" class="form-control form-control-lg" />
                    <label class="form-label" for="confirmPassword">confirmPassword</label>
                  </div>

                </div>
              </div>



              <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg" >Signup</button>
              </div>

            </form>

            <!--field-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--signup-section-->

<!--Scroll-btn-->
<button class="btn btn-primary" data-bs-theme="" id="scrollToTopBtn"><i class="fa-solid fa-arrow-up"></i></button>
<!--Scroll-btn-->

<!--footer-->
<div th:replace="footer :: footer"></div>
<!--footer-->




</body>
</html>